<h2>{{myplayers.length}} myplayers</h2>
{{#each myplayers as |myplayer index|}}
<h3>
  <a href="/myplayers/{{myplayer.postion }}">{{myplayer.position}} for President in {{myplayer.year}}</a>
</h3>
{{/each}}

<form action="/myplayers" method="post">
  <input type="text" position="myplayer[position]" placeholder="Name" />
  <input type="number" position="myplayer[year]" placeholder="Year" />
  <button type="submit">Add a player</button>
</form>
