<h2>{{myPlayer.length}} MyPLayer</h2>
{{#each myPlayer as |MyPlayer Catalog|}}
<h3>
  <a href="/myPlayer/{{myPlayer.position}}">{{myPlayer.position}}</a>
</h3>
{{/each}}

<h2>Add a MyPlayer Type</h2>
<form action="/myPlayer" method="post">
  <input type="text" name="myPlayer[position]" placeholder="Position">
  <input type="text" name="myPlayer[archetype]" placeholder="Archetype">
  <input type="submit" value="Add MyPlayer">
</form>
