<h2><a href="/myplayers/#">What type of MyPlayer would you like to create?</a></h2>
<h2>{{myplayers.length}} Players</h2>
{{#each myplayers as |myplayer index|}}
<h3>
  <a href="/myplayers/{{myplayer.pointGuard}}">{{myplayer.pointGuard}}</a>
</h3>
{{/each}}

<form action="/myplayers" method="post">
  <input type="text" name="myPlayer[pointGuard]" placeholder="Position" />
  {{!-- <input type="number" name="myPlayer[attribute]" placeholder="Attributes" /> --}}
  <button type="submit">Join the Team</button>
</form>
