/* Reference: When President and Hwen President */

html {
  min-height: 100%;
}

body {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  text-align: center;
  color:black;
  background-image: url("/assets/img/court2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px
}

h2 {
  text-align: center;
  color: white;
  font-size: 30px
}

p {
  text-align: center;
  color: white;
  text-shadow: 2px rgb(46, 97, 139);
}

a {
  font-family: 'Cormorant', serif;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px 3px  rgb(209, 65, 190);
}

a:hover {
  text-shadow: 3px 3px 3p rgb(248, 64, 239);
}

input{
  background: rgb(152, 253, 236);
  color: white;
  text-shadow: 1px 1px 0px rgb(103, 184, 170);
  border: 1px solid gray;
  padding: 4px;
}

.btn{
  background: rgb(255, 99, 195);
  color: white;
  text-shadow: 1px 1px 0px rgb(103, 184, 170);
  border: 1px solid gray;
  padding: 4px;
  
}

form {
  margin: 8px;
}  
